body{ /*Alinhando tudo que está no  Body*/
   text-align: center; 
}

.quadrado{
    text-align: center;
    width: 50px;
    background: #c0cdeb /* #E4EFE9*/; 
    display: inline-block; /*ocupa o espaço na linha de seu conteudo*/
    padding: 40px; /*conteudo seja espaçado por uma margem interna*/
    font-size: 60px; /*tamanho da fonte*/
    margin: 5px; /*margem dos elementos que estão fora do conteúdo*/
    cursor: pointer; /*tipo da seta do mouse*/
    color: rgb(83, 58, 58); /*cor do texto*/

}

.jogador, .vencedor{
    font-size: 30px;
    margin-top: 18px;

}
button{
    margin-top: 18px;
    width: 100px;
    height: 30px;
    background: #eee;
    cursor:pointer;
}

.container{
    width: 600px;
    height: 100px;
    background: white;
    display: flow-root;
    margin: 30px 450px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 

}
.box{
    font-size: 28px;
    text-decoration: wheat ;
    width: 400px;
    height: 55px;
    margin: 0px 95px;
    background: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}